*{
  align-content: center;
  text-align: center;
  color: #f3efef;
}

body{
  background-image: url("../images/cave-stream.jpg");
}

h2{
  font-size: 24px;
  font-family: 'Taviraj', serif;
}

p{
  font-size: 18px;
  font-family: 'Taviraj', serif;
  padding: 10px;
}

button{
  font-size: 18px;
  font-family: 'Taviraj', serif;
  background-color: #1a1a1a;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.container{
  border-color: #ddd;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background-color: #1a1a1a;
  opacity: 0.85;
}
.crystalImage{
  width: 150px;
  height: 150px;
  float: left;
  margin: 5px;
  border-radius: 5px;
}

#mainHeading{
  font-size: 40px;
  font-family: 'Taviraj', serif;
  padding: 5px;
  margin: 5px;
  clear: both;
}

#numberBox{
  clear: both;
}

#randomNumber{
  padding: 10px;
}

#crystalBox{
  float:left;
}

#scoreBox{
  float: left;
}

#scoring{
  margin: 6px;
}

#winsDiv{
  margin: 6px;
}

#lossDiv{
  margin: 6px;
}